# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
.env/
.env

# Editors
.vscode/
.idea/

# macOS
.DS_Store

# gitkeep
data/*
!data/.gitkeep
!data/ingest/.gitkeep
!data/processed/.gitkeep
!data/searchable/.gitkeep
